/* for animate */
/* W3.CSS 1.67 by J.E.Refsnes. Do not remove this line. */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {font-family: Verdana, sans-serif; font-size:0.8em;margin:0}
article,aside,details,figcaption,figure,header,footer,hgroup,main,menu,nav,section,summary
{display:block}
/* for animate */


/*div {margin:5px; padding:8px;float:left;}*/
/*p {display:inline;margin:5px; padding:8px;}*/

header {
  margin:5px;
  padding:8px;
  /*float:left;*/
  width: 25%;
  text-align: center;
}

/*animate*/
header img {
  text-align: center;
    margin-top: -1%;
    margin-bottom: 1%;
    /*width: 170px;*/
    /*height: 160px;*/
    /*background-color: #006CB0;    */
    background: transparent;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    /*0%   {background-color:#006CB0; left:1500px; top:0px;}*/
    0%   {background:transparent; left:1500px; top:0px;}
    /*50%  {background-color:#006CB0; left:-50px; top:0px;}*/
    50%  {background:transparent; left:-50px; top:0px;}
    /*100%  {background-color:#006CB0; left:0px; top:0px;}*/
    100%  {background:transparent; left:0px; top:0px;}
    /*50%  {background-color:blue; left:200px; top:200px;}*/
    /*75%  {background-color:green; left:0px; top:200px;}*/
    /*100% {background-color:red; left:0px; top:0px;}*/
}

/* Standard syntax */
@keyframes example {
    /*0%   {background-color:#006CB0; left:1500px; top:0px;}*/
    0%   {background:transparent; left:1500px; top:0px;}
    /*50%  {background-color:#006CB0; left:-50px; top:0px;}*/
    50%  {background:transparent; left:-50px; top:0px;}
    /*100%  {background-color:#006CB0; left:0px; top:0px;}*/
    100%  {background:transparent; left:0px; top:0px;}
    /*50%  {background-color:blue; left:200px; top:200px;}*/
    /*75%  {background-color:green; left:0px; top:200px;}*/
    /*100% {background-color:red; left:0px; top:0px;}*/
}
/*animate*/

/* dropdown */
#flip {background-color: rgb(0, 219, 255);cursor: pointer;width: 200px;}
#panel, #flip {
    padding: 5px;
    text-align: center;
    
    /*border: solid 1px #c3c3c3;*/
    border: 1px solid white;
}

#panel {
    padding-top: 10px;
    padding-left: 30px;
    display: none;
    position: relative;
    height: 360px;
    position: absolute;
    margin-left: -80px;
    width: 380px;
    /*margin-top: -15px;*/
}
#inline {display: inline;}

/* dropdown */

#nav {
  margin:10px;
  padding:8px;
  width:96.5%;
}

/*section {margin:5px; padding:8px;float:left;width: 98%;}*/
section>h2 {text-align: center;}
/*section>h1 {text-align: center;}*/
div>h2 {text-align: center}
#grad {
  background: rgb(215, 219, 243); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(215, 219, 243), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(215, 219, 243), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(215, 219, 243), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(215, 219, 243), white); /* Standard syntax */
  /*width:30.33333333%;*/
  /*float:left;*/
  margin: 5px;
  padding:8px;
  width: 100%;
}

#grad2 {
  background: rgb(0, 219, 255); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, rgb(0, 219, 255)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, rgb(0, 219, 255)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, rgb(0, 219, 255)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, rgb(0, 219, 255)); /* Standard syntax */
  width:100%;
  /*height:100%;*/
  border: 5px solid rgb(0, 219, 255);
  /*margin-left:25px;*/
  padding:8px;
  /*height:80%;*/
  /*position: relative;*/
  /*float:left;*/

}
label {text-align: center;}
#camping {margin-top:10px;width:100%;}
#prophets {margin-top:10px;width:100%;}
#musicTypes {margin-top:10px;width:100%;}

.input-btn {
  background-color: white;
  width:100%;
  /*margin-left:-8px;*/
  padding:8px;
}

.button {
  background-color: rgb(0, 219, 255); 
  color:white;
  padding:8px;
  /*margin-left: 15px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 150px;
  list-style:none;
  display:inline;
  float:left;
  margin:5px;
}
/*.button2 {*/
  /*width:290px;*/
  /*background-color: white;*/
  /*margin:5px;padding:8px;*/
/*}*/
.input {
  margin-left: 25px;
  border:none;
}


#input {
  width:200px;
  height:25px;
}
#ul-list {
  height: 100%;
  margin-top: 2px;
  margin-left:8px;
}

#list {
  width:204px;
  height:25px;
  background-color: lightgray;
  color:black;
  list-style:none;
  border-bottom: 1px solid white;
  padding-top:8px;
}

/*ult todo */
/*#inp-1 {margin-left:50px;}*/
/*#inp-2 {margin-left:50px;}*/
/*.center {}*/
.form-control {
  display: inline-block; 
  /*text-align: center;*/
  margin-left: 40px;
  background-color: white;
} 

.add_button { 
  margin: 10px 0px 10px 40px; 
} 

.checkbox { 
  margin-top: 20px; 
} 

.completed_item { 
  text-decoration: line-through; 
} 

h1 { 
  /*display: inline-block; */
  color: #292b33;
  text-align: center; 
} 

body { 
  background-color: #f6f6f6; 
} 

.text_holder { 
  display: block; 
  max-width: 100%; 
  word-wrap: break-word; 
} 

#main { 
  margin-top: 50px; 
  /*background-color: #ffffff; */
  background: rgb(0, 219, 255); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, rgb(0, 219, 255)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, rgb(0, 219, 255)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, rgb(0, 219, 255)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, rgb(0, 219, 255)); /* Standard syntax */
  border-radius: 5px; 
  width: 30%; 
  /*border: 5px solid #545454;*/
  border: 5px solid rgb(0, 219, 255); 
} 
/* ult todo */




footer {margin:5px; padding:8px;float:left;}
#allRights {color:rgb(0, 189, 222);}

